/** Comment/uncomment to help debug layout **/
/** * {
    border: 1px solid;
    border-color: #E9E8E8;
}
**/

body {
    margin: 0; /** Not using a reset/normalize, so clear the window margin in some browsers **/
}

/* Header styling */
.header {
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-bottom-color: #dddddd;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.header-content {
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

/* Name plate styling */
.nameplate {
    background-color: #4aaaa5;
    overflow: hidden; /* Stretch/shrink the nameplate */
    height: 100px;
    float: left;
    display: flex; /* Vertically and horizontally center the name */
    align-items: center;
}
.nameplate a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
.nameplate span {
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
}

/* Nav Container styling */
.nav {
    float: right;
    height: 100px;
    display: flex;
    align-items: center;
}

#nav-item {
    font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
    color: #777777;
    text-decoration: none;
    font-weight: lighter;
    margin-left: 20px;
}

.nav-separator {
    border-left: 2px solid;
    border-left-color: #777777;
}

/* Content Styling */
.horizontal-rule-title {
    background-color: #777777;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.content {
    width: 915px;
    padding: 25px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dddddd;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    clear: left;
}
.content h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.content  p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    color: #777777;
    line-height: 150%;
}

.inline-block-img {
    float: left;
    margin-right: 25px;
}

/** Footer styling **/
.footer {
    background-color: #666666;
    height: 30px;
    border-top: 5px solid;
    border-top-color: #4aaaa5;
    position: fixed; /* Make the footer sticky */
    bottom: 0; /* Keep the sticky footer on the bottom of the window if the content doesn't reach the bottom */
    left: 0;
    width: 100%;
    margin: 0 auto;
}
.copyright span {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
    color: #cccccc;
    font-size: smaller;
    font-weight: 100;
    margin: 0 auto;
    margin-top: 10px;
}
.copyright {
    height: 30px;
    margin: 0 auto;
    display: flex;
}